html, body {
    height: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.boards{
    width: 100%;
}
.board{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card{
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.score-board{
    width: 200px;
}